* {
    margin: 0;
    padding: 0;
    /* background-colo#5f9ea0lue; */
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    background-image: url("background.jpeg");
}


.header-titulo {
    font-size: x-large;
}


.title h1 {
    margin-left: 10px; 
}

h1 {
    font-weight: 600;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
    font-weight: 500;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px; 
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    color: #fff; 
}

hr {
    height: 3px;
    background-color: black;
    border-color: black;
}

p {
    text-align: center;
}

a {
    color: black;
    font-size: medium;
}

footer {
    font-size: 14px;
}

.datos {
    font-style: italic;
}


.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }

/* .PlanBcafecito {
    background-color: rgb(122, 205, 208);
} */


.menu {
    width: 80%;
    background-color: rgb(41, 105, 150);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 600px;
}
  

.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.comida, .bebida, .infusiones {
    text-align: left;
    width: 75%;
}

.precio {
    text-align: right;
    width: 25%;
}

.direccion {
    margin-bottom: 5px;
}

.menu-nav {
    text-align: center;
}

#titulo-menu {
    text-align: center;
}

#p-izq {
    text-align: left;
}

.ref {
    background-color: rgb(122, 205, 208);
} /*utilice esta clase que ya habia creado previamente para otros elementos*/

.navbar-toggler {
    background-color: cadetblue;
}

#logo {
    padding: 3px;
}