* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    background-image: url("background.jpeg");
}

.contenedor {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, Main Content, Footer */
    min-height: 100vh; 
}

.header-grid {
    background-color: #333;
    color: #fff;
    padding: 0px;
}

.main-grid {
    padding: 20px;
}

.plant-info {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
}

.plant-image img {
    max-width: 100%;
    height: auto;
}

.plant-description {
    background-color: #f0f0f0;
    padding: 20px;
}

.additional-info {
    margin-top: 20px;
}

.footer-grid {
    background-color: #e2e4e6;
    color: #000000;
    padding: 20px;
}

.header-titulo {
    font-size: x-large;
}

.title h1 {
    margin-left: 10px; 
}

h1 {
    font-weight: 600;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
    font-weight: 500;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px; 
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    color: #fff; 
}

hr {
    height: 3px;
    background-color: black;
    border-color: black;
}

p {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

a {
    color: black;
    font-size: medium;
}

footer {
    font-size: 14px;
    padding: 10px;
}

.datos {
    font-style: italic;
}


.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}
  
.gallery img {
    width: 100%;
    max-width: 450px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: 500ms;
}

.gallery img:hover {
    transform: scale(1.2);
}
  
.gallery::after {
    content: "";
    width: 350px;
}


.menu {
    width: 80%;
    /* background-color: rgb(95, 148, 186); */
    background-color: #f0f0f0;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 600px;
}

.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.comida, .bebida, .infusiones {
    text-align: left;
    width: 75%;
}

.precio {
    text-align: right;
    width: 25%;
}

.direccion {
    margin-bottom: 5px;
}

.menu-nav {
    text-align: center;
}

.titulo-menu {
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 15px;
    text-decoration: none;
}

#logo {
    padding: 3px;
}

.item-menu {
    padding: 10px;
}

#fondo-menu {
    background-image: url("../assets/img/background.jpeg");
}

.form-group {
    padding: 10px;
}
